*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: green;
}

a{
    padding-right: 2rem;
    text-decoration: none;
    color: white;
}

i{
    color: white;
}

.menu-box {
    display: none;
}